<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <title>中国地区查询、三级联动</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div ng-app="query" ng-controller="myCtrl">
    <div class="col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
        <div class="text-primary text-center"><label>省份城市查询</label></div>
            <div class="col-xs-9">
                <input class="form-control" type="text" placeholder="输入关键字" ng-model="val">
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary _btn" ng-click="search()">查询</button>
            </div>
            <div class="clearfix"></div>
            <table class="table table-responsive table-striped">
                <caption class="text-center">查询结果：</caption>
                <thead class="text-center"><tr><td>行政区域</td><td>地区名称</td></tr></thead>
                <tr ng-repeat="i in searchArr">
                    <td class="text-center">{{searchArr[$index][0]}}</td>
                    <td class="text-center">{{searchArr[$index][1]}}</td>
                </tr>
            </table>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
        <div class="text-primary text-center"><label>省市县三级联动</label></div>
        <div class="col-xs-4">
            <select name="province" id="province" class="form-control" ng-model="selectPro" ng-change="linkage('province')">
                <option ng-repeat="option in province" value="{{option[0]}}">{{option[1]}}</option>
            </select>
        </div>
        <div class="col-xs-4">
            <select name="city" id="city" class="form-control" ng-model="selectCit" ng-change="linkage('city')">
                <option ng-repeat="option in city" value="{{option[0]}}">{{option[1]}}</option>
            </select>
        </div>
        <div class="col-xs-4">
            <select name="county" id="county" class="form-control" ng-model="selectCou" ng-change="linkage('county')">
                <option ng-repeat="option in county" value="{{option[0]}}">{{option[1]}}</option>
            </select>
        </div>
        <table class="table table-responsive table-striped">
            <caption class="text-center">查询结果：</caption>
            <thead class="text-center"><tr><td>行政区域</td><td>地区名称</td></tr></thead>
            <tr>
                <td class="text-center">{{selectArea[0]}}</td>
                <td class="text-center">{{selectArea[1]}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<script src="cityQuery.min.js"></script>
<script src="demo.js"></script>
</html>